In [52]:
import numpy as np
import matplotlib.pyplot as plt
import random
import pandas as pd

In [53]:
def splitData(data, ratio):
    dataLength = len(data)
    numberOfTrain = int(dataLength * ratio)
    test = data.iloc[numberOfTrain:dataLength]
    train = data.iloc[0:numberOfTrain]
 
    return train, test

In [54]:
def getRepeatedValues(column):
    values = []
    for i in range(0, len(column)):
        if column[i] not in values:
            values.append(column[i])
    return values

In [73]:
def oneHotEncoding(data, columnNames):
    valuesDictionary = {}
    for columnName in columnNames:
        column = data[columnName]
        repeatedValues = getRepeatedValues(column)
        valuesDictionary[columnName] = repeatedValues
        for i in range(0, len(repeatedValues)):
            data[columnName] = data[columnName].replace(repeatedValues[i], i)
    return data, valuesDictionary

In [80]:
def decodeOneHotEncoding(data, decodingDictionary):
    for column in decodingDictionary:
        for i in range(0, len(decodingDictionary[column])):
            data[column] = data[column].replace(i, decodingDictionary[column][i])
    return data

In [81]:
def labelDataset(data, columnNames, threshold):
    data['passed exam'] = -1
    for i in range(0, len(data)):
        for column in columnNames:
            if data[column][i] <= threshold:
                data['passed exam'][i] = 1
                break
    data.drop(columnNames, axis=1, inplace=True)
    return data

In [85]:
data = pd.read_csv('data/exams.csv')
columnsToEncode = ['gender','race/ethnicity',	'parental level of education',	'lunch',	'test preparation course']
data, decodingDictionary = oneHotEncoding(data,columnsToEncode)
data = labelDataset(data, ['math score', 'reading score', 'writing score'], 60)
train, test = splitData(data, 0.7)
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,passed exam
0,0,0,0,0,0,-1
1,1,1,1,1,1,1
2,0,2,2,1,1,1
3,0,3,0,0,1,-1
4,0,2,3,0,0,-1

In [57]:
data['gender'][2]

'male'